*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}
.container {
  width: 600px;
  /* background-color: black; */
  color: white;
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 2rem 0;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: orangered;
  color: white;
  padding: 12px;
  font-size: 22px;
  cursor: pointer;
}

.modal {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 10px;
  display: none;
  position: fixed;
  z-index: 1;

  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 50%; /* Full width */
  height: 40%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 4px 3px 4px black; /* Fallback color */
}
.modal-content {
  background-color: white;
  color: black;
}
.close {
  font-size: 3rem;
  float: right;
  margin: 0rem;
  padding: 1rem;
  cursor: pointer;
}
.modal h1 {
  margin: 1rem;
  padding: 2rem;
}
